.row-infor {
  border-bottom: 0.2rem solid #bdbebd;
}

.info-user {
  font-size: 0.7rem;
}

.row {
  padding: 1rem;
}

.col-7 {
  text-align: left;
}

.col-sm {
  text-align: center;
}

#table-pading {
  padding: 0.3rem;
}

.row-seller {
  padding: 0.3rem;
}
