

/*tbody {
  border: 1px solid black;
}*/

tbody td {
  border-right: 1px solid black;
  font-size: 11px;
}

thead {
  border: 1px solid black;
}

thead th {
  border-right: 0.4px solid black;
  font-size: small;
}

.head {
  text-align: center;
  font-size: small;
}
